* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Tajawal', sans-serif;
}
.wrapper {
  max-width: 720px;
  margin: auto;
  padding: 0 12px;
}
.wrapper .header {
  margin-bottom: 16px;
}
.wrapper .header .title {
  text-align: center;
  margin-bottom: 16px;
}
.wrapper .header .navigation {
  display: flex;
  justify-content: space-between;
}
.wrapper .body .img-wrapper {
  text-align: center;
  width: fit-content;
  margin: auto;
}
.wrapper .body .img-wrapper img {
  width: 100%;
}
