<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quran Viewer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/main.min.css"> -->
    <style>
      *{padding:0;margin:0;box-sizing:border-box}html{font-family:Tajawal,sans-serif}.wrapper{max-width:720px;margin:auto;padding:0 12px}.wrapper .header{margin-bottom:16px}.wrapper .header .title{text-align:center;margin-bottom:16px}.wrapper .header .navigation{display:flex;justify-content:space-between}.wrapper .body .img-wrapper{text-align:center;width:fit-content;margin:auto}.wrapper .body .img-wrapper img{width:100%}
    </style>
  </head>
  <body>

    <div id="app">
      <div class="wrapper">
        <div class="header">
          <h1 class="title">
            الصفحة رقم
            {{ getPageCounter }}
            من القرآن الكريم
          </h1>
          <div class="navigation">
            <a href="javascript:void(0)" @click="nextPage" v-if="getPageCounter < maxPage">الصفحة التالية</a>
            <a href="javascript:void(0)" @click="prevPage" v-if="getPageCounter > minPage">الصفحة السابقة</a>
          </div>
        </div>
        <div class="body">
          <div class="img-wrapper">
            <img :src="loadCurrentPage" alt="Quran image">
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="js/index.min.js"></script> -->
    <script type="text/javascript">
      const app={data:()=>({pageCounter:1,minPage:1,maxPage:604}),methods:{nextPage(){this.pageCounter++},prevPage(){this.pageCounter--},pad(e,t){var a="000000000"+e;return a.substr(a.length-t)}},computed:{getPageCounter(){return this.pageCounter},loadCurrentPage(){return`https://www.daily-quran.com/static/pages/page-${this.pad(this.pageCounter,3)}.jpg`}}};Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
